extends layout

block content
    h1.display-4.m-b-2 Sign Up

    // register form
    form(method='POST' action='')
        div.form-group
            label(for='name') Name:
            input#name.form-control(type='text', placeholder='first and last' name='name')
        div.form-group
            label(for='email') Email:
            input#email.form-control(type='email', placeholder='name@email.com' name='email')
        div.form-group
            label(for='favoriteBook') Favorite Book:
            input#favoriteBook.form-control(type='text', placeholder='title of book' name='favoriteBook')
        div.form-group
            label(for='_id') ID:
            input#pw.form-control(type='number' name='_id')

        button.btn.btn-primary(type='submit') Sign up
    
    if users
        ul
            each user in users 
                li= user.user.name

        textarea= formatedUsers